body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
    list-style-type: none;
}

.active:visited,
.contact:visited {
    text-decoration: none;
    color: inherit;
}

.active:link,
.contact:link {
    text-decoration: none;
}

.active:hover,
.active:focus {
    color: #2196f3;
}

.list-no-marker {
    list-style: none;
}

/*Buttons*/
.button {
    cursor: pointer;
    background: #f5f4fa;
    text-align: center;
    font-size: 16px;
}

.button:hover {
    color: #ffffff;
    background-color: #2196f3;
}

.button-main {
    font-weight: 700;
    line-height: 1.88;
}

.button-portfolio {
    font-weight: 500;
    line-height: 1.62;
}

/* logo*/
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-header {
    color: #000000;
}

.logo-footer {
    color: #ffffff;
}

.logo-blue {
    color: #2196f3;
}

/*header*/
.nav-menu-header,
.contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

.nav-menu-header {
    color: #212121;
}

.contact {
    color: #757575;
}

/*backgrouns*/
.bg-dark {
    background-color: #2f303a;
}

.bg-grey {
    background-color: #f5f4fa;
}

/*footer*/
.footer-address {
    font-size: 14px;
    line-height: 146%;
}

.footer-address-main {
    color: #ffffff;
}

.footer-address-secondary {
    color: #ffffff99;
}

/*Index main*/

.section-header {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}

.header-main {
    color: #ffffff;
    font-weight: 900;
    font-size: 44px;
    text-transform: uppercase;
}

.section-our-strengths {
    font-size: 14px;
}

.section-our-strengths-header {
    font-weight: 700;
    line-height: 1.14;
}

.section-our-strengths-content {
    color: #757575;
    line-height: 1.71;
}

.card {
    font-size: 16px;
    line-height: 1.19;
    display: inline-block;
}

.card > figcaption {
    text-align: center;
}

.card-header {
    font-weight: 500;
}

.card-content {
    color: #757575;
}

/*portfolio*/
.card-portfolio-header {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.card-portfolio-content {
    font-size: 16px;
    line-height: 1.88;
}
